@model Lisans.Data.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "Şifre Değiştir";
}


<div class="row" style="margin-top:70px;">
    <div class="col-md-6">

        <h4 style="margin-bottom:30px; float:left" class="col-md-12">Şifre bilgilerinizi güncelleyin</h4>

        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group col-md-12">
                <input asp-for="OldPassword" class="form-control" placeholder="Eski şifre" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <input asp-for="NewPassword" class="form-control" placeholder="Yeni şifre" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>


                <div class="form-group col-md-6">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Onayla" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">


                <div class="form-group col-md-10">
                    <button class="btn btn-danger" style="float:right" asp-action="Index">Vazgeç</button>
                </div>

                <div class="form-group col-md-2">
                    <input type="submit" style="float:right;" value="Kaydet" class="btn btn-success" />
                </div>
            </div>


        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
