@model Lisans.Data.Models.RegisterViewModel
@{
    ViewData["Title"] = "RegisterUser";
}

<div class="row" style="margin-top:70px;">
    <div class="col-md-6">

        <h4 style="margin-bottom:30px" class="col-md-12">Kullanıcı Hesabınızı oluşturun</h4>

        <form asp-action="RegisterUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <input asp-for="Name" class="form-control" placeholder="Ad" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <input asp-for="Surname" class="form-control" placeholder="Soyad" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-md-12">
                <input style="margin-top:16px" asp-for="UserName" class="form-control" placeholder="example@mail.com" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6 ">
                    <input style="margin-top:16px" asp-for="Password" class="form-control" placeholder="Şifre" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <input style="margin-top:16px" asp-for="ConfirmPassword" class="form-control" placeholder="Onayla" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-md-12">
                <input style="margin-top:16px" asp-for="Phone" class="form-control" placeholder="Telefon Numarası" maxlength="11" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <a asp-area="" asp-controller="User" asp-action="Login">Bunun yerine oturum aç</a>
                </div>
                <div class="form-group col-md-6">
                    <input type="submit" value="Oluştur" style="float:right" class="btn btn-success" />
                </div>
            </div>


        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

