@model Lisans.Data.Models.LisansModel

@{
    ViewData["Title"] = "Lisans Yönetim Paneli";
}

<hr style="margin-top:30px" />
<div class="row">
    <div class="col-md-12">
        <form class="was-validated" asp-action="AddLisans">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-6">
                    <label style="font-family:Century" for="validationLisansName" class="control-label">Okul Kodu</label>
                    <input asp-for="SchoolCode" class="form-control is-invalid" id="validationLisansName" required />
                    <span asp-validation-for="SchoolCode" class="text-danger"></span>

                </div>
                <div class="col-md-6">
                    <label style="font-family:Century" for="validationHardwareId" class="control-label">Okul Adı</label>
                    <input asp-for="SchoolName" class="form-control is-invalid" id="validationHardwareId" required style="text-transform:uppercase" />
                    <span asp-validation-for="SchoolName" class="text-danger"></span>
                </div>
            </div>

            <div class="row" style="margin-top:30px;">
             
                <div class="col-md-12">
                    <label style="font-family:Century" for="validationHardwareId" class="control-label">Hardware Numarası</label>
                    <input asp-for="HardwareId" class="form-control is-invalid" id="validationHardwareId" required style="text-transform:uppercase" />
                    <span asp-validation-for="HardwareId" class="text-danger"></span>
                </div>
            </div>
            <div class="row" style="margin-top:30px;">
                <div class="col-md-6">
  
                    <label style="font-family:Century" for="validationHardwareId" class="control-label">Şehir</label>
                    @Html.DropDownListFor(m => m.Province, new SelectList(ViewBag.Province, "Id", "Name"),"Şehir Seçiniz", new { @class = "custom-select" })
                    <span asp-validation-for="Province" class="text-danger"></span>
                </div>

                <div class="col-md-6">
      
                    <label style="font-family:Century" for="validationHardwareId" class="control-label">Semt</label>
                    @Html.DropDownListFor(m => m.District, new SelectList(string.Empty, "Id", "Name"), new { @class = "custom-select" })
                    <span asp-validation-for="District" class="text-danger"></span>
                </div>
            </div>

            <div class="row" style="margin-top:30px">

                <div class="col-md-6">
                    <label style="font-family:Century" for="validationEmail" class="control-label">E-Mail</label>
                    <input asp-for="Email" class="form-control is-invalid" id="validationEmail" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label style="font-family:Century" class="control-label">Online Ürün Anahtarı</label>
                    <input asp-for="OnlineProductKey" class="form-control" readonly />
                    <span asp-validation-for="OnlineProductKey" class="text-danger"></span>
                </div>

            </div>


            <div class="row" style="margin-top:30px">

                <div class="col-md-6">
                    <label style="font-family:Century" class="control-label">Son Kullanma Tarihi</label>
                    <input asp-for="ExpirationDate" class="form-control" />
                    <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label style="font-family:Century" class="control-label">Oluşturulma Tarihi</label>
                    <input asp-for="CreationDate" class="form-control" readonly />
                    <span asp-validation-for="CreationDate" class="text-danger"></span>
                </div>

            </div>

            <div class="row" style="margin-top:30px">
                <div class="col-md-6">
                    <input style="font-family:Century" type="submit" value="Oluştur" class="btn btn-outline-primary" />
                </div>
                <div class="col-md-6 right">
                    <a asp-action="Index" style="font-family:Century" class="btn btn-outline-dark float-right">Vazgeç</a>
                </div>
            </div>

        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {
        $("#Province").change(function () {
            $.getJSON("/Lisans/GetDistrictList", { pid: $("#Province").val() }, function (d) {
                var row = "";
                $("#District").empty();
                $.each(d, function (i, v) {
                    console.log(v.text)
                    console.log(v.value)
                    var a = v;
                    row += "<option value='" + v.value + "'>" + v.text + "</option>";
                });
                $("#District").html(row);
            })
        })
    })
</script>


